/* Header styles */
.head {
    color: #FAFAF9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0; /* Remove margin-top */
    padding: 10px 20px; /* Adjust padding */
    height: 60px; /* Set header height */
    background-color: rgba(23, 23, 23, 0.7); /* Transparent background */
    position: fixed; /* Make the header fixed */
    top: 0; /* Stick to the top */
    left: 0;
    width: 100%; /* Ensure it spans the full width */
    z-index: 1000; /* Ensure it appears above other content */
}

.head1 .workout {
    cursor: pointer;
    margin-left: 18px;
}
.basket-icon {
    width: 24px;
    height: 24px;
    fill: #e0e0e0;
    transition: fill 0.3s;
  }
  
  .basket-icon:hover {
    fill: #007bff;
  }
.head2 {
    display: flex;
    gap: 12px;
}

.head3 {
    display: none;
    color: #FAFAF9;
    cursor: pointer;
}

.head2 a {
    font-size: 12px;
    opacity: 0.7;
    text-decoration: none;
    color: #FAFAF9;
    margin-right: 28px;
}

/* Dropdown styles */
.dropdown {
    display: none;
    flex-direction: column;
    gap: 12px;
    background-color: rgba(23, 23, 23, 0.9); /* Transparent background */
    position: absolute;
    top: 60px; /* Adjust position relative to header height */
    right: 0;
    padding: 10px;
    border: 1px solid #FAFAF9;
}

.dropdown a {
    font-size: 12px;
    opacity: 0.7;
    text-decoration: none;
    color: #FAFAF9;
    padding: 5px 0;
}

/* Media query for responsive design */
@media (max-width: 792px) {
    .head2 {
        display: none;
    }

    .head3 {
        display: flex;
    }

    .dropdown {
        display: flex;
    }
}

/* Body styles */
body {
    margin: 0;
    background-color: #171717;
    padding-top: 60px; /* Ensure content starts below the fixed header */
}
