.head {
    color: #FAFAF9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 10px 20px;
    height: 60px;
    background-color: rgba(23, 23, 23, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000; /* Ensure header is above other content */
}

.head1 .workout {
    cursor: pointer;
    margin-left: 18px;
}

.head2 {
    display: flex;
    gap: 12px;
    z-index: 2000;
}

.head2 a {
    font-size: 12px;
    opacity: 0.7;
    text-decoration: none;
    color: #FAFAF9;
    margin-right: 28px;
    padding: 5px; /* Added padding for better click area */
    z-index: 2000;
}

.head3 {
    display: none;
    color: #FAFAF9;
    cursor: pointer;
    z-index: 2000;
}

.head3 i {
    font-size: 1.5rem; /* Adjust icon size */
}

.dropdown {
    display: none; /* Hidden by default */
    flex-direction: column;
    gap: 12px;
    background-color: rgba(23, 23, 23, 0.9);
    position: absolute;
    top: 60px;
    right: 0;
    padding: 10px;
    border: 1px solid #FAFAF9;
    z-index: 2000; /* Ensure dropdown is above other content */
}

.dropdown.show {
    display: flex;
}

.dropdown a {
    font-size: 12px;
    opacity: 0.7;
    text-decoration: none;
    color: #FAFAF9;
    padding: 5px 0;
}

@media (max-width: 792px) {
    .head2 {
        display: none;
    }

    .head3 {
        display: flex;
    }

    .dropdown {
        display: flex;
    }
}

body {
    margin: 0;
    background-color: #171717;
    padding-top: 60px;
}
