/* .container {
    font-family: 'Arial, sans-serif';
    color: #f1f1f1;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #000;
} */
/* .container {
    text-align: center;
    margin: 20px;
} */

.paragraph {
    font-size: 18px;
    margin-bottom: 20px;
}

.todoContainer {
    max-width: 600px;
    margin: 0 auto;
}

.subHeader {
    font-size: 24px;
    margin-bottom: 10px;
}

.input, .select {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.listItem.finished {
    text-decoration: line-through;
    background-color: #d3ffd3;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.finishButton, .deleteButton {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.finishButton {
    background-color: #FFD700;
    color: black;
}

.deleteButton {
    background-color: #FF6347;
    color: white;
}
