/* Programs.css */

.programs-page {
    padding: 20px;
    background-color: #1e1e1e;
    color: #FAFAF9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.open-modal-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: linear-gradient(135deg, #0072ff, #00c6ff);
    border: none;
    color: #FAFAF9;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.task-card {
    background: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    color: #FAFAF9;
}

.task-card h3 {
    margin-top: 0;
}

.workout-icon {
    font-size: 40px;
    color: #00c6ff; /* Adjust color as needed */
    margin: 10px auto;
    text-align: center;
}

.task-actions {
    margin-top: 20px;
}

.task-actions button {
    background: linear-gradient(135deg, #ff007a, #ff00a6);
    border: none;
    color: #FAFAF9;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.task-actions p {
    margin: 5px 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    color: #FAFAF9;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #333;
    color: #FAFAF9;
}

button[type="submit"] {
    background: linear-gradient(135deg, #0072ff, #00c6ff);
    border: none;
    color: #FAFAF9;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
